<font size=4 color=black >new cases data scrapy</font>

In [1]:
import urllib.request as request
import pandas as pd
from pandas.core.frame import DataFrame
import csv
import ssl
import matplotlib.pyplot as plt
import numpy as np

In [2]:
ssl._create_default_https_context = ssl._create_unverified_context
r = request.urlopen('https://covid.ourworldindata.org/data/owid-covid-data.csv').read().decode('utf8').split("\n")
reader = csv.DictReader(r)

In [3]:
def create_csv():
    rules = ['date','location','total_cases','new_cases','total_deaths','new_deaths','icu_patients']
    f = open('./scrapy_covid_uk.csv','a+',newline='',encoding='utf-8')
    csv_writer = csv.writer(f)
    csv_writer.writerow(rules)
    f.close

In [4]:
create_csv()

In [5]:
def save_to_csv(date,location,total_cases,new_cases,total_deaths,new_deaths,icu_patients):
    f = open('./scrapy_covid_uk.csv','a+',newline='',encoding='utf-8')
    csv_writer = csv.writer(f)
    csv_writer.writerow([date,location,total_cases,new_cases,total_deaths,new_deaths,icu_patients])
    f.close()

In [6]:
for row in reader:
    if row['location']=='United Kingdom':
        #print(row)
        date = row['date']
        location = row['location']
        total_cases = row['total_cases']
        new_cases = row['new_cases']
        total_deaths = row['total_deaths']
        new_deaths = row['new_deaths']
        icu_patients = row['icu_patients']
        #case_fatality_rate = int(row['total_deaths'])/int(row['total_cases'])
        save_to_csv(date,location,total_cases,new_cases,total_deaths,new_deaths,icu_patients)

I extract the data of United Kingdom in this csv as an example.

In [7]:
covid=pd.read_csv('./scrapy_covid_uk.csv')

In [8]:
covid

,date,location,total_cases,new_cases,total_deaths,new_deaths,icu_patients
0,2020-01-31,United Kingdom,2.0,2.0,NaN,NaN,NaN
1,2020-02-01,United Kingdom,2.0,0.0,NaN,NaN,NaN
2,2020-02-02,United Kingdom,2.0,0.0,NaN,NaN,NaN
3,2020-02-03,United Kingdom,8.0,6.0,NaN,NaN,NaN
4,2020-02-04,United Kingdom,8.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
594,2021-09-16,United Kingdom,7373451.0,26619.0,135134.0,159.0,1020.0
595,2021-09-17,United Kingdom,7406017.0,32566.0,135314.0,180.0,NaN
596,2021-09-18,United Kingdom,7435493.0,29476.0,135478.0,164.0,NaN
597,2021-09-19,United Kingdom,7464791.0,29298.0,135539.0,61.0,NaN
598,2021-09-20,United Kingdom,7500734.0,35943.0,135589.0,50.0,NaN

In [9]:
covid.fillna(0)

,date,location,total_cases,new_cases,total_deaths,new_deaths,icu_patients
0,2020-01-31,United Kingdom,2.0,2.0,0.0,0.0,0.0
1,2020-02-01,United Kingdom,2.0,0.0,0.0,0.0,0.0
2,2020-02-02,United Kingdom,2.0,0.0,0.0,0.0,0.0
3,2020-02-03,United Kingdom,8.0,6.0,0.0,0.0,0.0
4,2020-02-04,United Kingdom,8.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
594,2021-09-16,United Kingdom,7373451.0,26619.0,135134.0,159.0,1020.0
595,2021-09-17,United Kingdom,7406017.0,32566.0,135314.0,180.0,0.0
596,2021-09-18,United Kingdom,7435493.0,29476.0,135478.0,164.0,0.0
597,2021-09-19,United Kingdom,7464791.0,29298.0,135539.0,61.0,0.0
598,2021-09-20,United Kingdom,7500734.0,35943.0,135589.0,50.0,0.0

<font size=4 color=black > Vaccination data </font>

In [44]:
import urllib.request as request
import pandas as pd
from pandas.core.frame import DataFrame
import csv
import ssl
import matplotlib.pyplot as plt
import numpy as np

In [45]:
ssl._create_default_https_context = ssl._create_unverified_context
z = request.urlopen('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv').read().decode('utf8').split("\n")
reader = csv.DictReader(z)

In [46]:
def create_csv2():
    rules = ['location','date','total_vaccinations','people_vaccinated','people_fully_vaccinated','total_vaccinations_per_hundred']
    f = open('./Vac_covid_UK.csv','a+',newline='',encoding='utf-8')
    csv_writer = csv.writer(f)
    csv_writer.writerow(rules)
    f.close

In [47]:
create_csv2()

In [48]:
def save_to_csv(location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred):
    f = open('./Vac_covid_UK.csv','a+',newline='',encoding='utf-8')
    csv_writer = csv.writer(f)
    csv_writer.writerow([location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred])
    f.close()

In [49]:
for row in reader:
    if row['location']=='United Kingdom':
        date = row['date']
        location = row['location']
        total_vaccinations = row['total_vaccinations']
        people_vaccinated = row['people_vaccinated']
        people_fully_vaccinated = row['people_fully_vaccinated']
        total_vaccinations_per_hundred = row['total_vaccinations_per_hundred']
        #case_fatality_rate = int(row['total_deaths'])/int(row['total_cases'])
        save_to_csv(location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred)

In [50]:
covid2=pd.read_csv('./Vac_covid_UK.csv')

<font size=4 color=black > Data of other feature </font>

In [51]:
import urllib.request as request
import pandas as pd
from pandas.core.frame import DataFrame
import csv
import ssl
import matplotlib.pyplot as plt
import numpy as np

School_closing

In [52]:
ssl._create_default_https_context = ssl._create_unverified_context
sch_clo = request.urlopen('https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c1_school_closing.csv').read().decode('utf8').split("\n")
stu = csv.DictReader(sch_clo)

In [53]:
for row in stu:
    if row['country_name']=='United Kingdom':
        #print(row)
        stulist =[row]
        studf = pd.DataFrame(stulist).T
        print(studf)

                           0
                          62
country_code             GBR
country_name  United Kingdom
01Jan2020                  0
02Jan2020                  0
...                      ...
16Sep2021                  1
17Sep2021                  1
18Sep2021
19Sep2021
20Sep2021

[632 rows x 1 columns]

In [54]:
def create_csvstu():
    #rules = ['date','number']
    f = open('./stuuk.csv','a+',newline='',encoding='utf-8')
    csv_writer = csv.writer(f)
    csv_writer.writerow(stu)
    f.close

In [55]:
create_csvstu()

In [56]:
stu2=studf.drop(studf.index[0:3])

In [57]:
stu2.to_csv('./stuuk.csv')

cancel public activity

In [58]:
ssl._create_default_https_context = ssl._create_unverified_context
pub_act = request.urlopen('https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c3_cancel_public_events.csv').read().decode('utf8').split("\n")
pub = csv.DictReader(pub_act)

In [59]:
def create_csvpub():
    #rules = ['date','number']
    f = open('./pubuk.csv','a+',newline='',encoding='utf-8')
    csv_writer = csv.writer(f)
    csv_writer.writerow(pub)
    f.close

In [60]:
create_csvpub()

In [61]:
ssl._create_default_https_context = ssl._create_unverified_context
pub_act = request.urlopen('https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c3_cancel_public_events.csv').read().decode('utf8').split("\n")
pub = csv.DictReader(pub_act)

In [62]:
for row in pub:
    if row['country_name']=='United Kingdom':
        #print(row)
        publist= [row]
        pubdf= pd.DataFrame(publist).T
        print(pubdf)

                           0
                          62
country_code             GBR
country_name  United Kingdom
01Jan2020                  0
02Jan2020                  0
...                      ...
16Sep2021                  1
17Sep2021                  1
18Sep2021
19Sep2021
20Sep2021

[632 rows x 1 columns]

In [63]:
pub2=pubdf.drop(pubdf.index[0:3])

In [64]:
pub2.to_csv('./pubuk.csv')

restriction on gathering

In [65]:
ssl._create_default_https_context = ssl._create_unverified_context
ga_act = request.urlopen('https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c4_restrictions_on_gatherings.csv').read().decode('utf8').split("\n")
ga = csv.DictReader(ga_act)

In [66]:
for row in ga:
    if row['country_name']=='United Kingdom':
        #print(row)
        galist= [row]
        gadf= pd.DataFrame(galist).T
        print(gadf)

                           0
                          62
country_code             GBR
country_name  United Kingdom
01Jan2020                  0
02Jan2020                  0
...                      ...
16Sep2021                  3
17Sep2021                  3
18Sep2021
19Sep2021
20Sep2021

[632 rows x 1 columns]

In [67]:
def create_csvga():
    #rules = ['date','number']
    f = open('./gauk.csv','a+',newline='',encoding='utf-8')
    csv_writer = csv.writer(f)
    csv_writer.writerow(ga)
    f.close

In [68]:
create_csvga()

In [69]:
pub2=gadf.drop(gadf.index[0:3])

In [70]:
pub2.to_csv('./gauk.csv')

international travel

In [71]:
ssl._create_default_https_context = ssl._create_unverified_context
inter_travel = request.urlopen('https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c8_internationaltravel.csv').read().decode('utf8').split("\n")
inter = csv.DictReader(inter_travel)

In [72]:
for row in inter:
    if row['country_name']=='United Kingdom':
        #print(row)
        interlist= [row]
        interdf= pd.DataFrame(interlist).T
        print(interdf)

                           0
                          62
country_code             GBR
country_name  United Kingdom
01Jan2020                  0
02Jan2020                  0
...                      ...
16Sep2021                  3
17Sep2021                  3
18Sep2021
19Sep2021
20Sep2021

[632 rows x 1 columns]

In [73]:
def create_csvinter():
    #rules = ['date','number']
    f = open('./interuk.csv','a+',newline='',encoding='utf-8')
    csv_writer = csv.writer(f)
    csv_writer.writerow(inter)
    f.close

In [74]:
create_csvinter()

In [75]:
inter2=interdf.drop(interdf.index[0:3])

In [77]:
inter2.to_csv('./interuk.csv')